.contactsItem {
  margin-bottom: 15px;
}

.contactsText {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.25px;
  padding: 0;
  margin-right: 30px;
  margin-top: 0;
  margin-bottom: 8px;
}

.contactsBtn {
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  width: 100px;
  border-radius: 3px;
  color: #ff8800;
  border: black;
  /* box-shadow: 1px 1px 2px 2px #06463bac; */
  padding: 0px 10px;
  margin-top: 5px;
  cursor: pointer;
}

.contactsBtn:focus,
.contactsBtn:hover {
  /* background-color: #ff8800; */
  /* box-shadow: 1px 1px 2px 2px #06463bac; */
}
