.menuNavBarAuth {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.liContacts {
  display: block;
  margin: 0;
  font-size: 20px;
}

.liPhonebook {
  font-size: 36px;
  padding: 5px;
  margin: 0 100px;
}

.link {
  display: inline-block;
  color: #ff8800;
  text-decoration: none;
  font-weight: bold;
}

.link.active {
  color: black;
}
