.phoneBook {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  position: relative;
  z-index: 10;
}

.textPhoneBook {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
}

.animatePhoneBook {
  margin-left: 100px;
  animation: scale 1.5s both;
}

@keyframes scale {
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
